html,
body {
  margin: 0;
}

* {
  box-sizing: border-box; /* Fixes overflow issue */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  width: 500px;
}

.title {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: #f1f1f1;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.input-group label {
  font-weight: bold;
}

.btn {
  font-size: large;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
}

.actions-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sign-up-link {
  text-align: center;
  margin-top: 20px;
}

.back-to-login-link {
  text-align: center;
  margin-top: 20px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* table style */
table {
  border-collapse: collapse;
  width: 500px;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: solid #ddd;
}

th {
  background-color: #6495ed;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-login-back-link {
  padding-top: 10px;
}

.admin-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.admin-title {
  font-weight: bold;
  font-size: 35px;
  color: #6495ed;
}

.admin-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.admin-btn:hover {
  background-color: rgb(225, 71, 71);
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-bar {
  background-color: #b0c5ec;
  margin-bottom: 10px;
  width: 300px;
}

.reset-pwd-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.unauthorize-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.unauthorize-container p {
  font-size: 32px;
  font-weight: bold;
}
